* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.signup {
    padding: 7px 28px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
}

.container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
}

.landing {
    background-color: #1F2937;
}

.nav {
    justify-content: space-between;
    padding: 10px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links {
    display: flex;
    font-weight: 18px;
    align-items: center;
    color: #E5E7EB;
    gap: 30px;
}

.hero {
    /* margin: 80px auto; */
    padding-bottom: 80px;
    padding-top: 80px;
    height: 250px;
    gap: 30px;
}

.left-hero {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.signup {
    align-self: baseline;
    margin-top: auto;
    
    /* justify-content: end; */
}

.right-hero {
    text-align: center;
    flex: 1;
    background-color: gray;
}

.hero h3 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 80px;
}

.hero img {
    object-fit:contain;
    width: 100%;
}

.information {
    padding: 50px 0;
}

.info-body {
    display: flex;
    flex-direction: column;
}

.info-heading {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: auto;
}

.info-cards {
    display:flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 0px;
}

.card {
    text-align: center;
    width: 150px;
}

.card p {
    padding-top: 8px;
}

.card-img {
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.testimonial {
    background-color: #E5E7EB;
}

.testimonial-box {
    flex-direction: column;
    color: #1F2937;
    padding: 150px 0px;
    max-width: 800px;
}

.testimonial-quote {
    align-self: flex-end;
    font-size: 36px;
    font-style: italic;
}

.testimonial-author {
    align-self: flex-end;
    font-weight: bolder;

}